@charset "UTF-8";
body{
	padding: 0px;
	margin:0px;
}
.table{
	background-color:#191c20;
	color:#bdbdbd; 
	border-radius: 10px;
}
.table_Top_Size{
	height: 150px;
}
.table_Top{
	margin-top: 20px;
	width: 100%;
}


