
@charset "UTF-8";
body{background-color: #2e2f32;
	margin:0;
	padding:0; }
a{text-decoration:none;}
a:hover{text-decoration:none;
		color:#5f6267;
		/* font-weight:bold; */}
.b{font-family:"맑은고딕"; color:#a5a7ad;
	text-decoration-line:none;
	font-size:20px;
	}
.center{
	text-align:center;
}	
.margin30{
	margin:30px;
}
.margin20{
	margin:20px;
}
.margin5{
	margin:5px;
}
.margin_tb_5{
	margin:5px 0;
}
.margin_tb_7{
	margin:7px 0;
}
.margin_tb_10{
	margin:10px 0;
}
.margin_tb_30{
	margin:30px 0;
}
.height1500{
	height:1500px;
}	
.height600{
	height:600px;
}	
.height375{
	height:375px;
}	
.height320{
	height:320px;
}
.height300{
	height:300px;
}
.height200{
	height:200px;
}
.height220{
	height:220px;
}
.height180{
	height:180px;
}
.height150{
	height:150px;
}
.height135{
	height:135px;
}
.height125{
	height:125px;
}
.height90{
	height:90px;
}
.height50{
	height:50px;
}
.height35{
	height:35px;
}
 .top{
	padding:5px 0;
	font-size:20px;
    background-color:black;
    height:55px;
    display:flex;
    }
.top_search{
	width:90%;
	height:35px;
	border-radius: 5px;
	border:none;
	margin-top: 5px;
	background-color:#191c20;
	color:#767983;
}

.top_search_btn{
	background-color:#56a0f3;
	border-radius: 2px;
	border:none;
	color:white;
	height:32px;
	margin-top:7px;	
	font-family:"맑은고딕"; 
}
.top_image{
	margin-top: 5px;
	width:150px;
	height: 30px;
}

.top_login{
	text-align: left;
	font-size: 17px;
	margin-top: 5px;
}
.top_font{
	color:#FFFFFF;
}

.menu{
	background-color:#191c20;
	height:55px;
	display:flex;
}
.menu_1{
	position:relative;
	top:10px;	
	padding:0 0 0 6px;

}
.menu_f{
	font-family:"맑은고딕"; color:#a5a7ad;
	font-size:20px;
	text-decoration:none;
	}
	
.main{
	height:300px;
	margin-top: 70px;
}
.main_viewForm{
	color:white;
}
.main_logo{
	padding: 10px 0 0 0;

}
.search-box{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  height: 45px;
  background-color: #ffffff;
  border: 1px;
  border-radius: 5px;
}

.search-txt{
  padding: 0;
  margin-top:10px;
  margin-left:10px;
  width: 300px;
  border:none;
  background: white;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 25px;
}
.search-btn{
	transform: translate(0%,5%);
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 30px;
	border:0;
	color: #4f92db;
}

.Cboard{
	height:auto;
	
	font-family:"맑은고딕"; color:#a5a7ad; font-size:20px;
	}
.C_R{
	text-align:right;
}
.C_button{
	background-color:#767983;
	color:#FFFFFF;
	border-radius: 30px; 
	border:none;
	font-size:20px;
	font-weight: bold;
}
.block{
	display:inline-block;
}
.history{
	text-align:center;
}
.historyButton{
	color:#FFFFFF;
	background-color:#767983;
	border-radius:30px;
	border:none;
	width:170px;
	height: 40px;
	margin:15px 0 15px 0;
}

footer{
	text-align:center;
	font-family:"맑은고딕"; color:#a5a7ad; font-size:10px;
}
.footer_1{
	border-top:solid 1px #434447;
}
.footer{
	margin:10px 0 10px 0;	
	font-family:"맑은고딕"; color:#a5a7ad; font-size:12px;
	text-align:center;
}
.gameinfo_font{
	font-family:"맑은고딕"; color:#e3e4e6;
	padding:"0";
	margin:"0";
}

.loginbox{
	width:250px;
	border-radius: 2px;
	border:none;
	border-bottom: 2px solid #434447;
	background-color: #2e2f32;
	outline: none;
	background: transparent;
}
.login_font{font-family:"맑은고딕"; color:#FFFFFF;
	text-align:center;}
.loginForm_table{
	color:#FFFFFF;
}
.join_btn{
	background-color:#767983;
	color:#d5d6d9;
	border-radius: 5px; 
	border:none;
	margin:0 5px;
}
.gameInfo input{
	width:150px;
}
.gameInfo_1{
	width:50px;
	text-align:center;
	background-color:#767983;
	color:#d5d6d9;
	border-radius: 5px; 
	border:none;
	
}
/*empowermentForm*/
.b_1{font-family:"맑은고딕"; color:#a5a7ad;
	text-decoration-line:none;
	font-size:17px;
	
}
/*id find*/
.id_font_1{font-family:"맑은고딕"; color:#a5a7ad;
	text-decoration-line:none;
	font-size:30px;
}

.id_font_2{font-family:"맑은고딕"; color:#a5a7ad;
	text-decoration-line:none;
	font-size:17px;
	font-weight:normal;
}
.id_font_3{font-family:"맑은고딕"; color:#db0000;
	text-decoration-line:none;
	font-size:20px;
	font-weight:bold;
}
.id_font_4{font-family:"맑은고딕"; color:#a5a7ad;
	text-decoration-line:none;
	font-size:17px;
	font-weight:normal;
}
	
/* management*/
.b_2{font-family:"맑은고딕"; color:#a5a7ad;
	text-decoration-line:none;
	font-size:16px;
	
}
/*userupdate*/

/*듀오게시판*/

.board_kind a{
	font-family:"맑은고딕"; color:#a5a7ad;
	text-decoration-line:none;
	font-size:20px;
}	
.duo_search{
	width:150px;
	text-align:center;
	
}
.duo_font{
	 color:#a5a7ad;
}

/*comm*/
.comm_font{
	color:#a5a7ad;
}

.loginForm_top{
	top : 120px;
}
.loginForm_mid{
	
}
.loginForm_fot{
	top: -140px;
}
.top_search_size{
	width: 100%;
}
.memberManagementForm{
	margin-top: 50px;
}
.memberManagementForm_button1{
	background-color:#434447;
	border-radius: 7px;
	border:none;
	color:white;
	width:100px;
	height:32px;
	margin-top:7px;	
	font-family:"맑은고딕"; 
}
.memberManagementForm_select{
	width: 120px; /* 가로 사이즈 */
    padding: 10px; /* 내부여백 */
    padding-left: 12px;
    border: none;
    background: url(images/삼각형화살표.png) right 50%; 화살표 위치 
    background-size: 30px; /* 화살표 크기 */
    /* box-sizing: border-box; */
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    font-size: 20px;
    color: #FFFFFF;
    outline:none;
    }

.memberManagementForm_select>option{
	color:#000000;
}
.memberManagementForm_button2{
	background-color:#434447;
	border-radius: 7px;
	border:none;
	color:white;
	width:70px;
	height:32px;
	margin-top:7px;	
	font-family:"맑은고딕"; 
}
.memberManagementForm_table{
	background-color: #2e2f32;
	color:white;
	text-align: center;
	width:100%;
	height: auto;
}

.memberManagementForm_table>tbody>tr{
	height: 50px;
}
.memberManagementForm_table>tbody>tr>th{
	border-bottom:solid 1px #434447;
	font-size: 15px;
	background-color: #30363f;
}
.memberManagementForm_table>tbody>tr:nth-child(2n+1){
	background-color: #1c343e;
}
.memberManagementForm_button3{
	background-color:#434447;
	border-radius: 7px;
	border:none;
	color:white;
	width:70px;
	height:32px;
	margin-top:7px;	
	font-family:"맑은고딕"; 
}
.memberManagementForm_button4{
	background-color:transparent !important;
	border-radius: 5px;
	border: 2px solid #434447;
	color:white;
	width:50px;
	height:30px;
	font-family:"맑은고딕"; 
}

	
	